@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: none;
}

/*WIREFRAMES*/
.frame {
  border: 1px dotted red;
}

/*BODY*/
body {
  margin: 0 auto;
  font-family: "Chivo", sans-serif;
  font-size: 62.5%; /* This way for font-size 1em == 10px thus 1px == 0.1em */
}

.container {
  font-size: 100%;
  min-width: 35em;
  max-width: 100%;
  background-color: #121725;
  text-align: center;
}

/*BRAND*/
.brand {
  min-width: 13.485em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6.2em 12em 5.7em 12.015em;
}

/*ABOUT*/
h2 {
  text-transform: uppercase;
  color: #54e6af;
  font-style: normal;
  font-weight: 300;
  font-size: 2.6em;
  line-height: 1.5em;
}

span {
  color: #ffffff;
}

p {
  margin: 0 2.4em;
  color: #c2cbe5;
  font-weight: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.8em;
}

/*PLATFORMS*/
.platforms {
  display: flex;
  flex-direction: row;
  min-width: 31.5em;
  margin: 33px 24px 0 24px;
}

.platforms img {
  object-fit: contain;
  color: #5a668a;
}

.platforms :nth-child(1) {
  min-width: 5.6em;
}

.platforms :nth-child(2) {
  min-width: 4.5em;
}

.platforms :nth-child(3) {
  min-width: 7.3em;
}

.platforms :nth-child(4) {
  min-width: 7.7em;
}

/*CTA*/

input,
button {
  width: 327px;
  height: 46px;
  border-radius: 28px;
  border: none;
}

input {
  background-color: #5a668a;
  margin-top: 48px;
}

button {
  background-color: #54e6af;
  margin-top: 16px;
  margin-bottom: 94px;
  color: #121725;
  font-size: 14px;
  font-weight: 700;
}
